* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 1440px;
    background-color: hsl(212, 45%, 89%);
    
}
h1 {
    font-weight: 700;
    font-size: 19px;
    margin: 2% 5%;
}
p {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 2% 3% 10%;
}
.card {
    display: inline-block;
    align-self: center;
    margin: 10%;
    max-width: 250px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 15px hsl(220, 15%, 55%);
    border-radius: 15px;
}
.qr-code {
max-width: 90%;
margin: 5% auto;
border-radius: 15px;
}
